<h1>Change Password</h1>
{% if message %}
  {% if success %}
    <p><strong><font color="green">{{ message }}</font></strong></p>
  {% else %}
    <p><strong><font color="red">{{ message }}</font></strong></p>
  {% endif %}
{% endif %}
<form method="post" action="{% url 'office:changePassword' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td><label for="id_current_password">Current Password: </label></td>
      <td><input id="id_current_password" name="currentPassword" type="password"></td>
    </tr>
    <tr>
      <td><label for="id_new_password">New Password: </label></td>
      <td><input id="id_new_password" name="newPassword" type="password"></td>
    </tr>
    <tr>
      <td><label for="id_confirm_password">Confirm Password: </label></td>
      <td><input id="id_confirm_password" name="confirmPassword" type="password"></td>
    </tr>
  </table>
  <input type="submit" value="Submit">
  <input type="hidden" name="next" value="{{ next }}">
</form>
<h5>
  <a href="{% url 'office:home' %}">Home</a><br>
</h5>
